.metrics__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.metrics__item {
	display: flex;
	flex-direction: column-reverse;
	row-gap: 10px;
	padding: 50px;
}

.metrics__item:first-child {
	padding-left: 0;
}

.metrics__item:not(:last-child) {
	border-right: var(--border);
}

.metrics__value {
	font-weight: 600;
}

.metrics__sign {
	color: var(--color-accent);
}
