.header__promo {
	padding: 20px 0;
	text-align: center;
	border-bottom: var(--border);
}

.header__body {
	padding: 24px 0;
	background: var(--color-dark-10);
}

.header__body-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2px;
}

.header__overlay {
	display: contents;
}

.header__menu-list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.active {
	color: var(--write);
	background-color: var(--color-dark);
	border-radius: 10px;
	border: var(--border);
	font-weight: 500;
	pointer-events: none;
	padding: 14px 24px;
}
