.header {
	/* position: sticky; */
	/* top: 0; */
	z-index: 100;
	animation-name: scrolling-header;
	animation-fill-mode: both;
	animation-timeline: scroll();
	animation-range: 100px 200px;

	@keyframes scrolling-header {
		to {
			box-shadow: 0 0 1px 0 var(--color-dark-40);
		}
	}
}

.header__promo {
	padding: 20px 0;
	text-align: center;
	border-bottom: var(--border);
	background: var(--color-dark);
}

.header__body {
	padding: 24px 0;
	background: var(--color-dark-10);
}

.header__body-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2px;
}

.header__overlay {
	display: contents;
}

.header__menu-list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.active {
	color: var(--write);
	background-color: var(--color-dark);
	border-radius: 10px;
	border: var(--border);
	font-weight: 500;
	pointer-events: none;
	padding: 14px 24px;
}
